.ticket{
    width: 70vw;
    height: 30vh;
    min-height: 200px;
    background: #fff;
    margin-bottom: 5%;
    border: 1px dashed #bebebe;
    border-radius: 3px;
    display: flex;
    
}

.ticket-left-part{
    height: 100%;
    width: 71%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-right: 3px dashed #bebebe;
    padding: 1%;

}
.ticket-right-part{
    height: 100%;
    width: 29%;
    background: rgba(255, 255, 0, 0.426);
    padding: 1%;
}
.ticket-header{
    height: 16%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.ticket-header img{
    width: 25%;
    padding: 6%;
   
}
.ticket-header h4{
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 100;
   text-align: center;
   text-transform: uppercase;
   width: 40%;
}

.ticket-right-part >.ticket-header > h4{
    font-size: .5rem;
}

.right-ticket-info{
    height: 76%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.left-ticket-info{
    height: 76%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
table{
    height: 50%;
    width: 100%;
    text-align: center;
}
tr{
    height: 6%;
    /* font-size: small; */
}
td{
    width: 50%;
}
.barcode{
    height: 40%;
}
.barcode img{
    width: 100%;
    height: 100%;
}
.left-ticket-info .barcode{
    width:50%;
}


@media screen and (max-width: 980px) {
    .ticket{
        width: 90vw;
        font-size: .5rem ;
    }
    .ticket-header img{
        width:60%
    }
    .ticket-header h4{
        font-size: .7rem;
    }
    table{
        height: 36%;
    }
}