.travel_area{
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
}
.travel_area .feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}


.travel_area .feature .img img {
    width: 70px; 
    height: auto; 
    display: block; 
    
    
}
