.display-center{
    width: 95vw;
    margin-top: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#login-form{
    min-width: none;
    min-height: 500px;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #ff4a52;
    border-radius: 10px;
    box-shadow: 1px 1px 23px #ff4a52  ;
    background: #f7fafd;
    margin-bottom: 10vh;
}
#login-form div{
    height: 40%;
    display: flex;
    flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
#login-input{
    width: 70%;
}
#login-form input{
    width: 100%;
    height: 30%;
    padding: 4%;
    margin: 2%;
    background: #f7fafd;
    border-top: none;
    border-right: none;
    border-left: none;
}
#login-form h1{
    min-height: 40px;
    text-align: center;
    height: 15%;
}

.buttons{
    width: 50%;
}

#login-form .buttons .form-button{
    width: 100%;
    height: 30%;
    padding: 4%;
    margin: 2%;
    min-height: 50px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ff4a52;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    border:none;
    border-radius: 25px;
}


@media screen and (max-width: 1080px) {
    #login-form{
        width: 50%;
    }
}