.Subscribe-container *{
    box-sizing: border-box;
} 
.Subscribe-container {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 10vh 5vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
}
#Subscribe-input-data{
    height: 10vh;
    display: flex;
    justify-content: center;
    margin: 5vh;
}
.Subscribe-container input[type="email"] {
    width: 60%;
    height: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.Subscribe-container button {
    height: 100%;
    width: 25%;
    background-color: #ff4d4d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.Subscribe-container button:hover{
    color: #ff4d4d;
    background-color: #333;
    border: 2px solid #ff4d4d;
    border-left: none;
}